<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link type="text/css" rel="stylesheet" href="component/header/header.css"/>
<body>
<section class="header-wrapper container-fluid" id="header-container">
    <div class="header-logo"><img src="static/image/header-logo.gif"/></div>
    <div class="header-title">城市视频资源管理平台</div>
    <section class="header-menu"></section>
    <section class="header-account"></section>
</section>
</body>
<script type="text/javascript" src="component/header/header.js"></script>
</html>